{%extends 'noticeboard/base.html'%}
{%load static%}

{%block content%}

<div class="noticeboard_list">
	<div class="row">
{%for notice in notices%}
		<div class="col-sm-4 mt-2">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title">{{notice.title}}</h5>
		        <p>Publishd On: {{notice.upload_date}}</p>
		        <p class="card-text">{{ notice.description|slice:":70" }}</p>
		        <a href="{%url 'notice_detail_url' slug=notice.slug %}" class="btn btn-primary">See Detail Notice</a>
		      </div>
		    </div>
		  </div>
{%endfor%}
	</div>

	<nav aria-label="Page navigation example">
	  <ul class="pagination justify-content-center">
	  	{% if notices.has_previous %}	
	    <li class="page-item">
	      <a class="page-link" href="?page={{ notices.previous_page_number }}" >Previous</a>
	    {%endif%}
	    </li>

	    {% for num in notices.paginator.page_range %}
			{% ifequal num notices.number %}
			<li class="page-item"><a class="page-link" href="#"><strong>{{ num }}</strong></a></li>
			{% else %}
			{% if forloop.counter < 5 %}
			<li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
			{% endif %}
			{% endifequal %}
	    {% endfor %}


	     {% if notices.has_next %}
	    <li class="page-item">
	      <a class="page-link" href="?page={{ notices.next_page_number }}">Next</a>
	    </li>
	     {% endif %}
	  </ul>
	</nav>
	
</div>


{%endblock%}