html {
    /*position: relative;
    min-height: 100%;*/
    min-height: 100%;
    font-size: 13px;
   font-family: serif;


}

body{
	min-height: 100vh;
	/*display: flex;
	flex-direction: column;*/
	background-image:url("background4.jpeg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

}






.page-footer{

/*	background-image: url("footerback3.jpg");
	position: absolute;
	left: 0;
    bottom: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: #292b2c;
	color: green;
	text-align: center
	font-size: 14px;
	


	
}


.notice_detail{
	background-image:url("background4.jpeg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 0.8;
	/*padding-bottom:25%;*/
	/*flex: 1 0 auto;*/

}

.noticeboard_list, .detail_notification,.result_list{
	/*padding-bottom: 25%;*/
/*	flex: 1 0 auto;*/
	opacity: .9;
}








.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}







.divbody{

	 min-height: calc(100vh - 70px);

}



