html {
    /*position: relative;
    min-height: 100%;*/
    min-height: 100%;
    font-size: 13px;
   font-family: serif;


}

body{
	min-height: 100vh;
	/*display: flex;
	flex-direction: column;*/
	background-image:url("background4.jpeg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

}


nav{
/*	background-image: url("background4.jpeg");
	background-repeat: no-repeat;
	background-size: cover;*/
}


.detail{
	/*background-image:url("background4.jpeg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*padding-bottom: 25%;*/
	/*flex: 1 0 auto;*/

	
}

.page-footer{

	background-image: url("footerback3.jpg");
	/*position: absolute;*/
	/*left: 0;
    bottom: 0;*/
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	color: green;
	text-align: center
	font-size: 14px;

	
}

.image_notification{
/*	background-image:url("background4.jpeg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}

.title_notification{
/*	background-image:url("background4.jpeg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}

.notice_detail{
	background-image:url("background4.jpeg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 0.8;
	/*padding-bottom:25%;*/
	/*flex: 1 0 auto;*/

}
/*
.noice_last{
	background-image:url("background4.jpeg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
*/
.noticeboard_list, .detail_notification,.result_list{
	/*padding-bottom: 25%;*/
/*	flex: 1 0 auto;*/
	opacity: .9;
}








.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}



/*
@media (max-width: 1200px) {
  .detail{
    padding-bottom:150%;
  }*/

/*@media (max-width: 1200px) {
  .result_list{
    padding-bottom:250%;
  }
*/
}
/*@media (max-width: 1200px) {
  .resp-iframe{
    margin-left: 20px;
  }

}*/




.divbody{
/*	flex:1;
	 width: 100%;*/
	 min-height: calc(100vh - 70px);

}



/*.wrapper{
	flex: 1;
	display: flex;
	flex-direction: column;
}*/


